 <div class="user-details">
  <h1> My Expertise </h1>
  <p> I am a Principal Backend Developer working @ <a href="https://cellosignal.com/" target="_blank">Signal</a> living in Edinburgh (UK). 
    Passionate about my work, I am a problem solver and a constant learner. Even though I like the technical part of my job, I also love the human part of it: it's really rewarding to see the improvements in a team. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Leadership</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>One to One, technical support, code review, mentoring, technical workshops<p>
    </div>  
    <div class="tech">
      <h2>Management</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Technical project management, resourcing/job interviews, scheduling</p>
    </div>
</div>
<div class="user">
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-javascript-plain colored"></i>
    <i class="devicon-react-original-wordmark colored"></i>
    <i class="devicon-nodejs-plain-wordmark"></i>
    <p>I mainly work with PHP Frameworks or CMS such as Symfony, Drupal and Wordpress, but I also like experimenting stuff like Prismic, CraftCMS, Sanity.  </p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <i class="devicon-git-plain"></i>
    <i class="devicon-gulp-plain colored"></i>
    <i class="devicon-atom-original-wordmark"></i>
    <p>Git, Jenkins, Cypress, Shell, Deployer, Datadog, Solr, Xdebug, Docker...</p>
  </div>
</div>
