 <div class="user-details">
  <h2> Who am I? </h2>
  <p> I am an Engineering Manager working @ <a href="https://www.xdesign.com/" target="_blank">xDesign</a> living in Edinburgh (UK). 
    Passionate about my work, I am a problem solver and a constant learner. Even though I like the technical part of my job, I mainly love the human part of it: it's really rewarding to see the what a good team can achieve. 
    <br />I see myself as a facilitator for my team, my company and my clients. Removing the blockers, improving the processes, helping the engineers to grow and deliver to their full potential is what I like to do.
  </p>
</div>

<div class="quote">
  <h2> My favorites quotes </h2>
  <p><q>Happy employees ensure happy customers. And happy customers ensure happy shareholders—in that order.</q> - Simon Sinek</p>
  <p><q>You manage things; you lead people.</q> - Grace Murray Hopper</p>
  <p><q>We must have perseverance and above all confidence in ourselves.</q> - Marie Curie</p>
  <p><q>Clarity and simplicity are the antidotes to complexity and uncertainty.</q> - General George Casey</p>
  <p><q>All our dreams can come true – if we have the courage to pursue them.</q> - Walt Disney</p>
  <p><q>Better is the enemy of good.</q>- Voltaire</p>
</div>

<div class="quote">
  <h2>Book recommendations</h2>
  <p>Drive (by Daniel H. Pink)</p>
  <p>The Culture Code: The Secrets of Highly Successful Group (by Daniel Coyle)</p>
  <p>Accelerate: The Science of Lean Software and Devops: Building and Scaling High (by Nicole Forsgren, PhD Jez Humble, Gene Kim</p>
  <p>Start With Why (by Simon Sinek)</p>
  <p>Resilient Management (by Lara Hogan)</p>
  <p>The Manager's Path (by Camille Fournier)</p>
  <p>Talking with Tech Leads (by Pat Kua)</p>
</div>