 <div class="user-details">
  <h2> Who am I? </h2>
  <p> I am a Principal Backend Developer working @ <a href="https://cellosignal.com/" target="_blank">Signal</a> living in Edinburgh (UK). 
    Passionate about my work, I am a problem solver and a constant learner. Even though I like the technical part of my job, I also love the human part of it: it's really rewarding to see the improvements in a team. </p>
</div>


<div class="user">
    <i class="devicon-php-plain colored"></i>
    <i class="devicon-drupal-plain-wordmark colored"></i>
    <i class="devicon-git-plain colored"></i> 
    <i class="devicon-symfony-original colored"></i> 
    <i class="devicon-docker-plain colored"></i> 
    <i class="devicon-nodejs-plain-wordmark colored"></i> 
    <i class="devicon-mysql-plain-wordmark colored"></i> 
</div>

<div class="quote">
  <h2> My favorites quotes </h2>
  <p><q>Simplicity is about subtracting the obvious and adding the meaningful.</q> - John Maeda</p>
  <p><q>You manage things; you lead people.</q> - Grace Murray Hopper</p>
  <p><q>We must have perseverance and above all confidence in ourselves.</q> - Marie Curie</p>
  <p><q>Clarity and simplicity are the antidotes to complexity and uncertainty.</q> - General George Casey</p>
  <p><q>All our dreams can come true – if we have the courage to pursue them.</q> - Walt Disney</p>
  <p><q>Better is the enemy of good.</q>- Voltaire</p>
</div>