#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech {
  margin: 10px;
  width: 100%;
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.user-details, .quote {
  text-align: center;
  margin: 5px auto;
}


.quote {
  p {
    line-height: 1;
  }
}

q {
  quotes: "“" "”" "‘" "’";
  font-style: italic;
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

q:before,
q:after {
  color: #b54d4d;
  font-size: 1.6em;
}